@import './base.css';
/* src/assets/css/tailwind.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
